aiohappyeyeballs==2.6.1 ; python_version >= "3.11" and python_version < "4.0"
aiohttp-retry==2.9.1 ; python_version >= "3.11" and python_version < "4.0"
aiohttp==3.13.3 ; python_version >= "3.11" and python_version < "4.0"
aiosignal==1.4.0 ; python_version >= "3.11" and python_version < "4.0"
annotated-doc==0.0.4 ; python_version >= "3.11" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
anyio==4.13.0 ; python_version >= "3.11" and python_version < "4.0"
attrs==26.1.0 ; python_version >= "3.11" and python_version < "4.0"
bcrypt==4.3.0 ; python_version >= "3.11" and python_version < "4.0"
certifi==2026.2.25 ; python_version >= "3.11" and python_version < "4.0"
cffi==2.0.0 ; python_version >= "3.11" and python_version < "4.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.6 ; python_version >= "3.11" and python_version < "4.0"
click==8.3.1 ; python_version >= "3.11" and python_version < "4.0"
cloudpickle==3.1.2 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32")
cryptography==46.0.5 ; python_version >= "3.11" and python_version < "4.0"
distro==1.9.0 ; python_version >= "3.11" and python_version < "4.0"
ecdsa==0.19.1 ; python_version >= "3.11" and python_version < "4.0"
fastapi==0.128.8 ; python_version >= "3.11" and python_version < "4.0"
frozenlist==1.8.0 ; python_version >= "3.11" and python_version < "4.0"
google-auth==2.49.1 ; python_version >= "3.11" and python_version < "4.0"
google-genai==1.68.0 ; python_version >= "3.11" and python_version < "4.0"
greenlet==3.3.2 ; python_version >= "3.11" and python_version < "4.0" and (sys_platform == "darwin" and platform_machine == "x86_64" or (sys_platform != "darwin" or platform_machine != "x86_64") and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")) and python_version >= "3.10"
h11==0.16.0 ; python_version >= "3.11" and python_version < "4.0"
httpcore==1.0.9 ; python_version >= "3.11" and python_version < "4.0"
httptools==0.7.1 ; python_version >= "3.11" and python_version < "4.0"
httpx==0.28.1 ; python_version >= "3.11" and python_version < "4.0"
idna==3.11 ; python_version >= "3.11" and python_version < "4.0"
joblib==1.5.3 ; python_version >= "3.11" and python_version < "4.0"
llvmlite==0.34.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "darwin" and platform_machine == "x86_64"
llvmlite==0.46.0 ; python_version >= "3.11" and python_version < "4.0" and (sys_platform != "darwin" or platform_machine != "x86_64")
multidict==6.7.1 ; python_version >= "3.11" and python_version < "4.0"
numba==0.51.2 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "darwin" and platform_machine == "x86_64"
numba==0.64.0 ; python_version >= "3.11" and python_version < "4.0" and (sys_platform != "darwin" or platform_machine != "x86_64")
numpy==2.4.3 ; python_version >= "3.11" and python_version < "4.0"
nvidia-nccl-cu12==2.29.7 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux"
packaging==26.0 ; python_version >= "3.11" and python_version < "4.0"
pandas==3.0.1 ; python_version >= "3.11" and python_version < "4.0"
propcache==0.4.1 ; python_version >= "3.11" and python_version < "4.0"
pyasn1-modules==0.4.2 ; python_version >= "3.11" and python_version < "4.0"
pyasn1==0.6.3 ; python_version >= "3.11" and python_version < "4.0"
pycparser==3.0 ; python_version >= "3.11" and python_version < "4.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pydantic-core==2.41.5 ; python_version >= "3.11" and python_version < "4.0"
pydantic==2.12.5 ; python_version >= "3.11" and python_version < "4.0"
pyjwt==2.12.1 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "4.0"
python-dotenv==1.2.2 ; python_version >= "3.11" and python_version < "4.0"
python-jose==3.5.0 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.3 ; python_version >= "3.11" and python_version < "4.0"
requests==2.32.5 ; python_version >= "3.11" and python_version < "4.0"
rsa==4.9.1 ; python_version >= "3.11" and python_version < "4.0"
scikit-learn==1.8.0 ; python_version >= "3.11" and python_version < "4.0"
scipy==1.17.1 ; python_version >= "3.11" and python_version < "4.0"
setuptools==82.0.1 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "darwin" and platform_machine == "x86_64"
shap==0.51.0 ; python_version >= "3.11" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.11" and python_version < "4.0"
slicer==0.0.8 ; python_version >= "3.11" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "4.0"
sqlalchemy==2.0.48 ; python_version >= "3.11" and python_version < "4.0"
starlette==0.52.1 ; python_version >= "3.11" and python_version < "4.0"
tenacity==9.1.4 ; python_version >= "3.11" and python_version < "4.0"
threadpoolctl==3.6.0 ; python_version >= "3.11" and python_version < "4.0"
tqdm==4.67.3 ; python_version >= "3.11" and python_version < "4.0"
twilio==9.10.4 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "4.0"
typing-inspection==0.4.2 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2025.3 ; python_version >= "3.11" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten")
urllib3==2.6.3 ; python_version >= "3.11" and python_version < "4.0"
uvicorn==0.40.0 ; python_version >= "3.11" and python_version < "4.0"
uvloop==0.22.1 ; python_version >= "3.11" and python_version < "4.0" and sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
watchfiles==1.1.1 ; python_version >= "3.11" and python_version < "4.0"
websockets==16.0 ; python_version >= "3.11" and python_version < "4.0"
xgboost==3.2.0 ; python_version >= "3.11" and python_version < "4.0"
yarl==1.23.0 ; python_version >= "3.11" and python_version < "4.0"
